.main {
  min-height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .myTree {
        font-size: 1.3em;
        line-height: 1.3em;
        font-weight: 600;
      }
    }
  }

  .title {
    display: inline-block;
    max-width: 70%;
    margin-right: 1em;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .btns {
    display: inline-block;
    position: relative;
    top: -0.45em;
  }
}
