#content{
    width:900px;
    margin:auto;
}


#messages{
    width:700px;
    height:300px;
    overflow: auto;
    background-color: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}

#room-list{
    float:right;
    width:100px;
    height:300px;
    overflow:auto;
}

#room-list div{
    border-bottom: 1px solid #eee;
}

#room-list div:hover{
    background-color:#ddd;
}

#send-message{
    width:700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help{
    font:10px;
}