@import "../../global.less";

.main {
  background-color: @mainBgColor;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.5rem;
  }

  .content {
    margin: 0 auto;
    margin-top: 0.2rem;
    height: calc(100% - 0.8rem);

    @media screen {
      width: 98%;
      @media (min-width: 768px) {
        width: 80%;
      }

      @media (max-width: 768px) {
        width: 98%;
      }
    }
  }
}
