.main {
  text-align: center;
  padding: 2em;
  width: 30em;
  border-radius: 5px;

  .getCode {
    cursor: pointer;
  }

  :global {
    .ant-input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid black !important;
      border-radius: 0;
      margin-bottom: 1em;
    }
  }
}
